header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* ============ CTA ===============*/
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ============ Header Socials ===============*/
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;

}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* ============ Me ===============*/

.me {
    /* background: linear-gradient(var(--color-primary), transparent); */
    /* width: 15rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 8rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0; */
    background: linear-gradient(var(--color-primary), transparent);
    width: 30rem;
    height: 21rem;
    position: absolute;
    left: calc(50% - 14rem);
    margin-top: 2rem;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

/* ============ Scroll Down ===============*/
.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    font-weight: 300;
    font-size: 0.9rem;
}


/* ============ MEDIA QUERIES (MEDIUM DEVICES ===============*/
@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}

/* ============ MEDIA QUERIES (SMALL DEVICES ===============*/
@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }
    .header__socials, .scroll__down {
        display: none;
    }
    .me {
        width: 22rem;
        left: calc(50% - 11rem)
    }

    /* .header__socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center; 
    font-size: 30px;
    gap: 2.799999999999997rem;
    position: absolute; 
    left: calc(50% - 5rem);
    margin-bottom: 8rem;
    }

    .header__socials::after{
        display: none;
    } */
    
}